.game-content {
    font-size: 5em;
    font-family: Reddit-Mono;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-200%, -50%);
    padding: 10px;

}

.timer-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 3rem;
    width: fit-content;
    /* Ensure the width fits the content */
    height: fit-content;
}

.input {
    position: relative;
    font-family: Reddit-Mono;
    background-color: #262727;
    border: transparent;
    color: white;
    bottom: 30px;
    font-size: 70px;
    width: 160px;
    left: 105px;
}

input[type="in"]:focus {
    outline: none;
}



@font-face {
    font-family: Reddit-Mono;
    src: url(../public/RedditMono-Regular.ttf);
}