body{
  background-color: #262727;
  /* You can use any color code you like */
  margin: 0;
  font-family: Arial, sans-serif;
  color: #f0d3c9;
}
h1{
  font-family: Reddit-Mono;
}

.game{
  display: flex;
  align-content: center;
  justify-content: center;
}
@font-face {
  font-family: Reddit-Mono;
  src: url(../public/RedditMono-Regular.ttf);
}
